[submodule "nova"]
	path = nova
	url = git@github.com:fcharlier/puppetlabs-nova.git
[submodule "mysql"]
	path = mysql
	url = git@github.com:fcharlier/puppetlabs-mysql/
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@github.com:fcharlier/puppetlabs-rabbitmq.git
[submodule "puppetlabs-stdlib"]
	path = puppetlabs-stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
