[submodule "nova"]
	path = nova
	url = git://github.com/puppetlabs/puppetlabs-nova.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "stdlib"]
	path = stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "swift"]
	path = swift
	url = git://github.com/puppetlabs/puppetlabs-swift.git
[submodule "ssh"]
	path = ssh
	url = git://github.com/saz/puppet-ssh.git
[submodule "rsync"]
	path = rsync
	url = git://github.com/puppetlabs/puppetlabs-rsync.git
[submodule "memcached"]
	path = memcached
	url = git://github.com/fcharlier/puppet-memcached.git
[submodule "xinetd"]
	path = xinetd
	url = git://github.com/ghoneycutt/puppet-xinetd.git
[submodule "glance"]
	path = glance
	url = git://github.com/puppetlabs/puppetlabs-glance.git
[submodule "keystone"]
	path = keystone
	url = git://github.com/puppetlabs/puppetlabs-keystone.git
[submodule "concat"]
	path = concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "sysctl"]
	path = sysctl
	url = git://github.com/duritong/puppet-sysctl.git
[submodule "git"]
	path = git
	url = git://github.com/puppetlabs/puppetlabs-git.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = git://github.com/puppetlabs/puppetlabs-vcsrepo.git
